---
layout: default
---

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&amp;display=swap" media="all">
        <!-- <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 1025px)" 
            href="assets/css/desktop.css"> -->
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/desktop.css">
		<link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/game.css">
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/draw.css">
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/chat.css">
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/block.css">
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/music.css">
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/background.css">
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/dm.css">
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop/voicechat.css">
        <!-- <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" 
            href="assets/css/mobile.css"> -->
        <link rel="stylesheet" type="text/css" href="assets/css/tabler-icons.css">
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
        <script src="assets/js/modules.js"></script>
        <script src="assets/js/modules/dm.js"></script>
        <script src="assets/js/modules/background.js"></script>
        <script src="assets/js/modules/buttons.js"></script>
        <script src="assets/js/modules/custom-feature.js"></script>
        <script src="assets/js/modules/gif-autoload.js"></script>
        <script src="assets/js/modules/chat.js"></script>
        <script src="assets/js/modules/chatroom.js"></script>
        <script src="assets/js/modules/draw.js"></script>
        <script src="assets/js/modules/music.js"></script>
        <script src="assets/js/modules/spotify.js"></script>
        <script src="assets/js/modules/performance.js"></script>
        <script src="assets/js/modules/game.js"></script>
        <link href="assets/css/style.css" rel="stylesheet">


        <meta property="og:type" content="website">
        <meta property="og:site_name" content="anarchychats.com">
        <title>𝗔𝗡𝗔𝗥𝗖𝗛𝗬 𝗖𝗛𝗔𝗧</title>
        <meta name="description" content="Anarchy Chat, 
            Made by Lorenzino, Mr. iogames and more in TKR, 
            is a mod for the chatbox on the website iogames.fun. 
            this turns it into one big chat site! including: 
            Enchanced chat, Animated Backgrounds, an alternate chat, and more!">
        <meta property="og:title" content="Anarchy chat - A chat and game site with minimal rules">
        <meta property="og:description" content="Anarchy Chat, Made by Lorenzino, 
            Mr. iogames and more in TKR, is a mod for the chatbox on the website 
            iogames.fun. this turns it into one big chat site! including: 
            Enchanced chat, Animated Backgrounds, an alternate chat, and more!">
        <meta property="og:url" content="https://anarchychats.com/">
        <link rel="canonical" href="https://anarchychats.com/">
    </head>
	
    <body>
		<video id="video-background" autoplay="" loop="" style="opacity: 0.6;"></video>
        <div class="main" id="gridLayer">
			
        	{% include navigation/topbar.html %}
            
            {% include navigation/sidebar.html %}
            
            <div class="mid" style="grid-area: mid; z-index: 0;">
				{% include background.html %}
				{% include block.html %}
				{% include chat.html %}
				{% include draw.html %}
				{% include game.html %}
				{% include music.html %}
				{% include dm.html %}
				{% include voicechat.html %}
            </div>            
        </div>
        
        <div class="performance-mode" id="performance-mode">
        	<div style="display: inline;">Performance Mode Activated!</div>
        	<span></span><i class="fa fa-leaf" style="display: inline;"></i>
        </div>
	</body>
</html>
