.blocksidebar {
 white-space: nowrap;
 /* position: absolute; */
 left: 322px;
 height: 100%;
 bottom: 43px;
 width: 100%;
 overflow-y: hidden;
}

.blockedUsersListClass {
 /* position: absolute; */
 left: 325px;
 top: 72%;
 /* transform: translateY(-50%); */
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 font-weight: 200;
 font-size: 12px;
 overflow-wrap: break-word;
 /* opacity: 0.9; */
 overflow-x: scroll;
 max-width: 126px;
 backdrop-filter: blur(3px);
 background-color: rgba(29, 29, 29, 0.8);
 scrollbar-color: transparent rgba(255, 255, 255, 0);
 scrollbar-width: none;
}

.blockInputClass {
 /* position: absolute; */
 /* left: 325px; */
 /* top: 79%; */
 /* transform: translateY(-50%); */
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 width: 10px;
 backdrop-filter: blur(3px);
 background-color: rgba(29, 29, 29, 0.8);
}

.unblockInputClass {
 /* position: absolute; */
 /* left: 325px; */
 /* top: 87%; */
 /* transform: translateY(-50%); */
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 width: 10px;
 backdrop-filter: blur(3px);
 background-color: rgba(29, 29, 29, 0.8);
}

.unblockAllButtonClass {
 /* position: absolute; */
 left: 325px;
 top: 95%;
 /* transform: translateY(-50%); */
 color: rgb(255, 255, 255);
 padding: 5px;
 border: 1px solid rgba(255,255,255,0.15);
 border-radius: 5px;
 cursor: pointer;
 backdrop-filter: blur(3px);
 background-color: rgba(29, 29, 29, 0.8);
}

.block {
 margin:1rem
}

.block-page {
  position: fixed;
  right: -100%;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background-color: rgba(26, 27, 30, 0.6);
  backdrop-filter: blur(9px);
  opacity: 0;
  transition: right 0.75s ease, opacity 0.2s ease;
}

.block-page.active {
  right: 0px;
  opacity: 1;
  transition: right 0.3s ease, opacity 0.5s ease 0.1s;
}

.colorPickerClass {
	/* position: absolute; */
	/* left: 325px; */
	z-index: 1;
	padding: 5px;
	border: 1px solid rgba(255,255,255,0.15);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	backdrop-filter: blur(3px);
	top: 64%;
	background-color: rgba(29, 29, 29, 0.8);
}
