.music-page {
  position: fixed;
  right: -100%;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background-color: rgba(26, 27, 30, 0.6);
  backdrop-filter: blur(9px);
  opacity: 0;
  transition: right 0.75s ease, opacity 0.2s ease;
}

.music-page.active {
  right: 0px;
  opacity: 1;
  transition: right 0.3s ease, opacity 0.5s ease 0.1s;
}
