<nav class="blur" id="navbar" style="">
    <div class="logo desktop opac" id="logo-style">
        <div class="logo-top menu list" style="grid-area: logo-top;display: flex;align-items: flex-end; padding-left: 0.50rem;">
      <a href="index.html">
          <span class="anarchychats titleName" style="color: white;">AnarchyChats</span><span class="com titleName" style="color: #ff9999;">.com</span>
            </a>
        </div>
        <div class="logo-below" style="grid-area: logo-bottom;display: flex;align-items: flex-start; padding-left: 0.50rem;">
            <span class="subtext subTitleName" style="color: grey;">By Lorenzino, mr.iogames, and more</span>
        </div>
    </div>
    <div class="logo-image" id="logo-image">                
    <img src="assets/images/ARCH.webp" class="logotkr" style="opacity: 100%;">
    </div>
</nav>
