                <!-- background page -->
                <!-- check -->
                <div id="background-page" class="background-page" style="position: absolute;">
                    <div class="sidebars">
                        <div class="header">Anarchy Chat</div>
                        <div class="backgroundstyles">
                            <li>
                                <p class="b1" id="hoverButton">Background 1</p>
                            </li>
                            <li>
                                <p class="b2" id="hoverButton">Background 2</p>
                            </li>
                            <li>
                                <p class="b3" id="hoverButton">Background 3</p>
                            </li>
                            <li>
                                <p class="b4" id="hoverButton">Background 4</p>
                            </li>
                            <li>
                                <p class="b5" id="hoverButton">Background 5</p>
                            </li>
                            <li>
                                <p class="b6" id="hoverButton">Background 6</p>
                            </li>
                            <li>
                                <p class="rem" id="hoverButton">No Background</p>
                            </li>
                            <li>
                                <p class="cust">
                                    <textarea id="url-background" placeholder="Background URL" style="color: white; background-color: transparent;
                            			padding: 0px;"></textarea>
                                </p>
                            </li>
                        </div>
                    </div>
                </div>
                <!-- end -->
