                <!-- block page -->
                <div id="block-page" class="block-page" style="position: absolute;">
                    <div style="padding: 1.5rem 1rem 0.5rem 1rem;">
                        <div class="sidebars blocksidebar">
                            <div class="item">
                                <input type="color" id="usernameColorPicker" class="mobileblock colorPickerClass">
                            </div>
                            <div class="item">
                                <div class="mobileblock blockedUsersListClass all">Blocked Users:</div>
                            </div>
                            <div class="item">
                                <input type="text" placeholder="Block user" class="mobileblock blockInputClass" style="width: 200px;">
                            </div>
                            <div class="item">
                                <input type="text" placeholder="Unblock user" class="mobileblock unblockInputClass" style="width: 200px;">
                            </div>
                            <div class="item">
                                <button class="mobileblock unblockAllButtonClass">Unblock All</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->
