				<!-- dm page -->
				<div id="dm-page" class="dm-page" style="position: absolute;">
					<div id="dm-chatroom-btns-page" style="width: 100%; position: absolute; height: 100%;" class="dm-chatroom-btns-page active">
						<div style="padding: 1.5rem 1rem 0.5rem 1rem;list-style: none; left: 0px;" id="dm-chatroom-btns" class="dm-chatroom-btns"></div>
					</div>
					<div id="dm-chatroom" class="dm-chatroom">
                        <div id="dm-chat" class="dm-chat" style="position: absolute;top: 0px;left: 0px;width: 100%;">
                            <form id="dm-message" style="display: grid;grid-template-areas:&quot;input button&quot;;grid-template-columns: 1fr auto;grid-template-rows: 48px;height: 48px;" onSubmit="return false;">
                                <input type="text" id="dm-msg" placeholder="Message" size="58" onsubmit="return false;">
                                <i type="submit" id="dm-send" value="Send" style="background-color: transparent;color: white;padding: 1rem;width: 53.33px; font-weight: 600; padding: 0.50rem; font-size: 28px; font-style: normal; display: block;" class="ti ti-send"></i>
                            </form>
                            <div id="dm-log"></div>
							<form id="dm-name" style="display: grid;grid-template-areas:&quot;back input button&quot;;grid-template-columns: auto 1fr auto;grid-template-rows: 48px;height: 48px;">
								<div id="dm-backarrow" style="padding: 0.5rem; font-size: 28px;" class="ti ti-logout dm-backarrow hoverButton"></div>
                                <input type="text" id="dm-nme" placeholder="Name" size="58" onsubmit="return false;">
                                <div id="dm-colorpicker" style="color: rgb(151, 190, 136); width: 53.33px; font-weight: 600; padding: 0.5rem; font-size: 28px; font-style: normal; display: block;" class="ti ti-palette"></div>
                            </form>
                        </div>
                    </div>
				</div>
				<!-- end -->
