                <!-- game page -->
                <div id="game-page" class="game-page" style="position: absolute;">
        					<div id="gamePage" style="grid-area: mid;z-index: 2;overflow-y: scroll;position: relative;transition: bottom 0.35s ease; max-height: 100%;" class="gamePageClass active">
        						<form>
        							<input type="text" id="gameURL" name="gameURL" style="backdrop-filter: blur(3px); background-color: rgba(29, 29, 29, 0.8);" placeholder="Game URL">
        						</form>
        						<div id="gameFrame" style="padding: 15px;">
        						</div>
        					</div>
                </div>
                <!-- end -->
