                <!-- music page -->
                <div id="music-page" class="music-page" style="position: absolute;">
                    <div style="padding: 1.5rem 1rem 0.5rem 1rem;">
                        <div class="music-player">
                            <div class="track-name" id="trackName">Track Name</div>
                            <div class="buttons">
                                <i id="playPauseBtn" class="ti ti-player-pause" style="padding-right: 10px; 
                                    padding-left: 10px;"></i>
                            </div>
                            <input type="range" id="seekSlider" min="0" max="100" value="0">
                            <div class="time">
                            <span id="currentTime">05:48</span> / <span id="totalDuration">00:00</span>
                            </div>
                            <input type="range" id="volumeSlider" min="0" max="100" value="80">
                        </div>
                        <audio id="audioPlayer"></audio>
                        <textarea id="url-music" placeholder="Music URL" style="color: white; 
                            background-color: transparent; padding: 0px;"></textarea>
                    </div>
                    <div id="spotify"></div>
                </div>
                <!-- end -->
